.skillCardList {
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.skillCardSpace {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 300px;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
    min-width: 270px;
}

.skillCard {
    position: absolute;
    top: 0;
    left: calc(50% - 120px);
    width: 240px;
    height: 300px;
    background-color: rgb(255, 254, 253);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgb(49, 58, 91);
    cursor: pointer;
    transition: 200ms ease-out;
}

.skillCard:hover {
    top: -5px;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.1);
}

.skillCard .iconWrapper {
    position: absolute;
    left: -25px;
    top: -44.664px;
    width: 110px;
    height: 120px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

.skillCard .hexagon { 
  position: relative;
  width: 110px; 
  height: 120px;
  background-image: linear-gradient(to right, rgb(39, 54, 105), rgb(49, 58, 91));
  clip-path: polygon(0% 28.867513459%, 50% 0%, 100% 28.867513459%, 100% 71.13248654051871177%, 50% 100%, 0% 71.13248654051871177%);
}

.skillCard .iconWrapper img {
    position: absolute;
    top: -15.90990256875px;
    left: 10px;
    width: 100px;
    height: 100px;
}

.skillCard.unityIcon .iconWrapper img {
    left: -1px;
    top: 8px;
    width: 100px;
    height: 100px;
}

.skillCard.cSharpIcon .iconWrapper img {
  left: 25px;
  top: 30px;
  width: calc(100px*0.65);
  height: calc(87px*0.65);
}

.skillCard.vrIcon .iconWrapper img {
  left: 20px;
  top: 37px;
  width: calc(100px*0.67);
  height: calc(71px*0.67);
}

.skillCard.uiUxIcon .iconWrapper img {
  left: 15px;
  top: 22px;
  height: 75px;
  width: 75px;
}

.skillCard.envDesignIcon .iconWrapper img {
  left: 2px;
  top: 20px;
  width: calc(664px*0.16);
  height: calc(402px*0.16);
}

.skillCard .cardContent {

}

.skillCard .cardContent h4 {
  position: absolute;
  left: 40%;
  right: 0;
  top: 0;
  white-space: normal;
}

.skillCard .cardContent > div {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 85px;
  bottom: 10px;
  font-size: 13px;
}

.skillCard .cardContent > div ul {
  list-style: disc;
  padding-left: 25px;
}

.skillCard .cardContent > div li {
  list-style: disc;
  display: list-item;
}


@media (min-width: 600px) {
  .skillCardSpace {
      width: 50%; 
  }
}

@media (min-width: 880px) {
  .skillCardSpace {
      width: 33.3333%; 
  }
}