.landingPage {
    background-color: rgb(255, 254, 253);
}

.landingPage h3,
.landingPage h2,
.landingPage h1 {
    text-align: center;
}

@media (min-width: 800px) {
    .landingPage h3,
    .landingPage h2,
    .landingPage h1 {
        text-align: left;
    }

    .landingPage .skillsSection h3,
    .landingPage .projectsSection h3,
    .landingPage .skillsSection h2,
    .landingPage .projectsSection h2,
    .landingPage .skillsSection h1,
    .landingPage .projectsSection h1 {
        text-align: center;
    }
}


/* Welcome Section */

.landingPage .welcomeSection {
    background-color: rgb(255, 254, 253);
    height: 100vh;
    min-height: 633px;
}

.welcomeSection::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 200px;
    background-color: rgb(252, 147, 3);
    background-image: linear-gradient(to right, rgb(253, 165, 42), rgb(252, 147, 3));
    transform-origin: top left;
    transform: rotate(30deg);
}

.welcomeSection .message {
    position: absolute;
    top: calc(10vh);
    left: calc(50% - 162px);
    width: 324px;
    z-index: 10;
}

.welcomeSection .buttons {
    position: absolute;
    top: calc(10vh + 150px);
    left: 15px;
    width: calc(100% - 30px);
    z-index: 10;
}

@media (orientation: portrait) {
    .welcomeSection .message {
        top: calc(20vh);
    }

    .welcomeSection .buttons { 
        top: calc(20vh + 150px);
    }

    .h1 {
        font-size: 50px;
    }
}

.welcomeSection .message h1, 
.welcomeSection .message h2, 
.welcomeSection .message h3 {
    margin: 0;
    text-align: left;
}

.welcomeSection .message h1 {
    font-size: 40px;
}

.welcomeSection .message h2 {
    font-size: 24px;
}

.welcomeSection .message h3 {
    font-size: 20px;
}

.welcomeSection .buttons a {
    position: absolute;
    top: 0;
    left: calc(50% - 130px);
    width: 120px;
    height: 45.6px;
    text-decoration: none;
    color: rgb(255, 254, 253);
    letter-spacing: 0;
    font-family: rubik,sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 46px;
    outline: none!important;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 0px solid rgb(252, 147, 3);
    background-image: linear-gradient(to right,rgb(253, 165, 42), rgb(252, 147, 3));
    background-color: rgb(252, 147, 3);
    transition: 100ms ease-out;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.welcomeSection .buttons a:nth-of-type(2) {
    left: calc(50% + 10px);
}

.welcomeSection .buttons a:hover {
    top: -5px;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.1);
}

@media (min-width: 800px) {
    .welcomeSection .message {
        position: absolute;
        top: calc(10vh);
        left: 15px;
        width: calc(100% - 30px);
        z-index: 10;
    }

    .welcomeSection .buttons {
        position: absolute;
        top: calc(10vh + 250px);
        left: 15px;
        width: calc(100% - 30px);
        z-index: 10;
    }

    .welcomeSection .buttons a {
        position: absolute;
        top: 0;
        left: 0;
    }

    .welcomeSection .buttons a:nth-of-type(2) {
        left: 140px;
    }
    
    .welcomeSection .buttons a:hover {
        top: -5px;
        box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.1);
    }
}

@media (min-width: 1150px) {
    .welcomeSection .message {
        position: absolute;
        top: calc(10vh);
        left: 15px;
        width: calc(100% - 30px);
        z-index: 10;
    }
    
    .welcomeSection .buttons {
        position: absolute;
        top: calc(10vh + 250px);
        left: 15px;
        width: calc(100% - 30px);
        z-index: 10;
    }

    .welcomeSection .buttons a {
        position: absolute;
        top: 0;
        left: 0;
    }

    .welcomeSection .buttons a:nth-of-type(2) {
        left: 140px;
    }
    
    .welcomeSection .buttons a:hover {
        top: -5px;
        box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.1);
    }
}




/* About Section */

.landingPage .aboutSection {
    background-color: rgb(255, 254, 253);
    min-height: 633px;
}

.aboutSection::before {
    content: "";
    position: absolute;
    top: -200px;
    left: 0;
    width: 400px;
    height: 800px;
    background-color: rgb(252, 147, 3);
    background-image: linear-gradient(to right, rgb(253, 165, 42), rgb(252, 147, 3));
    transform-origin: top left;
    transform: rotate(30deg);
}

.aboutSection::after {
    content: "";
    position: absolute;
    bottom: -200px;
    left: 0;
    width: 110%;
    height: 200px;
    background-image: linear-gradient(to right,rgb(253, 165, 42), rgb(252, 147, 3));
    transform-origin: top left;
    transform: rotate(-5deg);
}

.aboutSection .wrapper {
    position: relative;
    padding-top: calc(10vh);
    margin-left: calc(50% - 150px);
    width: 300px;
}

.aboutSection a {
    position: absolute;
    bottom: -70px;
    left: calc(50% - 60px);
    width: 120px;
    height: 45.6px;
    text-decoration: none;
    color: rgb(255, 254, 253);
    letter-spacing: 0;
    font-family: rubik,sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 46px;
    outline: none!important;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 0px solid rgb(252, 147, 3);
    background-image: linear-gradient(to right,rgb(253, 165, 42), rgb(252, 147, 3));
    background-color: rgb(252, 147, 3);
    transition: 100ms ease-out;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.aboutSection a:hover {
    bottom: -65px;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.1);
}

@media (min-width: 800px) {
    .aboutSection .wrapper {
        position: relative;
        padding-top: calc(10vh);
        margin-left: calc(100% - 550px);
        width: 550px;
    }

    .aboutSection a {
        left: 0;
    }
}

@media (min-width: 1150px) {
    .aboutSection .wrapper {
        position: relative;
        padding-top: calc(10vh);
        margin-left: 550px;
        width: 550px;
    }

    .aboutSection a {
        left: 0;
    }
}





/* Skills Section */

.landingPage .skillsSection {
    background-color: rgb(252, 147, 3);
    background-image: linear-gradient(to right, rgb(253, 165, 42), rgb(252, 147, 3));
    min-height: 1000px;
}

.skillsSection::before {
    content: "";
    position: absolute;
    bottom: -200px;
    left: 0;
    width: 110%;
    height: 200px;
    background-color:rgb(255, 254, 253);
    transform-origin: top left;
    transform: rotate(-5deg);
}

.skillsSection .wrapper {
    position: relative;
    padding-top: calc(10vh);
    width: 100%;
}

.skillsSection .skillCardList {
    margin-top: 60px;
}



/* Projects Section */

.landingPage .projectsSection {
    background-color: rgb(255, 254, 253);
}

.projectsSection .wrapper {
    position: relative;
    padding-top: calc(10vh);
    width: 100%;
}





@media (min-width: 800px) {
    .landingPage .welcomeSection {
        background-color: rgb(255, 254, 253);
    }

    .welcomeSection .message h1 {
        font-size: 70px;
    }
    
    .welcomeSection .message h2 {
        font-size: 40px;
    }
    
    .welcomeSection .message h3 {
        font-size: 24px;
    }
    
    .welcomeSection::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 400px;
        height: 200px;
        background-color: rgb(252, 147, 3);
        background-image: linear-gradient(to right, rgb(253, 165, 42), rgb(252, 147, 3));
        transform-origin: top left;
        transform: rotate(30deg);
    }
    
    .welcomeSection .message {
        position: absolute;
        top: 16.4vh;
        left: 15px;
    }
    
    .welcomeSection .message h1, h2, h3 {
        margin: 0;
    }
    
    .welcomeSection a {
        position: absolute;
        top: 220px;
        left: 0px;
        width: 120px;
        height: 45.6px;
        text-decoration: none;
        color: rgb(255, 254, 253);
        letter-spacing: 0;
        font-family: rubik,sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 46px;
        outline: none!important;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        border: 0px solid rgb(252, 147, 3);
        background-image: linear-gradient(to right,rgb(253, 165, 42), rgb(252, 147, 3));
        background-color: rgb(252, 147, 3);
        transition: 100ms ease-out;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
    
    .welcomeSection a:nth-of-type(2) {
        left: 145px;
    }
    
    .welcomeSection a:hover {
        top: 215px;
        box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.1);
    }
}



@media (min-width: 1150px) {
    .landingPage .welcomeSection {
        position: relative;
        min-height: 500px;
        height: 100vh;
        background-color: rgb(255, 254, 253);
    }
    
    .welcomeSection::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 400px;
        height: 200px;
        background-color: rgb(252, 147, 3);
        background-image: linear-gradient(to right, rgb(253, 165, 42), rgb(252, 147, 3));
        transform-origin: top left;
        transform: rotate(30deg);
    }
    
    .welcomeSection .message {
        position: absolute;
        top: 16.4vh;
        left: 15px;
    }
    
    .welcomeSection .message h1, h2, h3 {
        margin: 0;
    }
    
    .welcomeSection a {
        position: absolute;
        top: 220px;
        left: 0;
        width: 120px;
        height: 45.6px;
        text-decoration: none;
        color: rgb(255, 254, 253);
        letter-spacing: 0;
        font-family: rubik,sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 46px;
        outline: none!important;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        border: 0px solid rgb(252, 147, 3);
        background-image: linear-gradient(to right,rgb(253, 165, 42), rgb(252, 147, 3));
        background-color: rgb(252, 147, 3);
        transition: 100ms ease-out;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
    
    .welcomeSection a:nth-of-type(2) {
        left: 145px;
    }
    
    .welcomeSection a:hover {
        top: 215px;
        box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.1);
    }
}